/* Coolors Exported Palette - coolors.co/ee6352-59cd90-3fa7d6-fac05e-f79d84 */

/* HSL */
$color1: hsla(7%, 82%, 63%, 1);
$color2: hsla(148%, 54%, 58%, 1);
$color3: hsla(199%, 65%, 54%, 1);
$color4: hsla(38%, 94%, 67%, 1);
$color5: hsla(13%, 88%, 74%, 1);

/* RGB */
$color1: rgba(238, 99, 82, 1);
$color2: rgba(89, 205, 144, 1);
$color3: rgba(63, 167, 214, 1);
$color4: rgba(250, 192, 94, 1);
$color5: rgba(247, 157, 132, 1);